/*------------------------------------------------
@Filename:  common.less
@Description:   全站公用LESS
@Version:   1.0.0(2016-07-15)
@author:    LJL
@updatatime:
------------------------------------------------*/
/*Variables*/
@import "./_common/variables.less";

/* Mixins*/
@import "./_common/mixins.less";

/* 全局重置代码*/
@import "./_common/reset.less";

/* 定义颜色 */
.red {
    color: @color-red;
}
.white {
    color: @color-white;
}
.orange {
    color: @color-orange;
}
.green {
    color: @color-green;
}
.black {
    color: @color-black;
}
.blue {
    color: @color-darkblue;
}
.light-blue {
    color: #0078ff;
}
.gray {
    color: #777;
}

body{
    font-size: 30px;
     display: flex;
}
