/*------------------------------------------------
@Filename:  common.less
@Description:   全站公用LESS
@Version:   1.0.0(2016-07-15)
@author:    LJL
@updatatime:
------------------------------------------------*/
/*Variables*/
@import "./_common/variables.less";

/* Mixins*/
@import "./_common/mixins.less";

/* 全局重置代码*/
@import "./_common/reset.less";

/*bootstrap.less*/
@import "./_common/bootstrap.less";

/*iconfont.less*/
@import "./_common/iconfont.less"; 
