/*------------------------------------------------
@Filename:  index.less
@Description:   首页
@Version:   1.0.0(2016-10-19)
@author:    LJL
@updatatime:
------------------------------------------------*/
/*Variables*/
@import "./_common/variables.less";

/* 人工咨询 */
.m-zc{
    background: url('../img/zcbg.png') no-repeat center center;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    h2{
        font-size: 28px;
    }
    .zc-info{
        padding: 10px 0;
        font-size: 16px;
        span{
            padding: 0 5px;
            color: @main-color;
        }
    }
    .zc-btn{
        padding: 10px 0;
        a{
            margin: 0 10px;
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 4px;
            font-size: 16px;
            height: 44px;
            line-height: 44px;
            padding: 0 20px;
            text-align: center;
            color: #fff;
            &:hover{
                border: 1px solid @main-color;
                background: @main-color;
                color: #fff;
                transition: all .4s ease-in-out;
            }
        }
    }
}

.m-service{
    border-bottom: 1px solid #e2e2e2;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    .ser-item{
        text-align: center;
        line-height: 120px;
        font-size: 16px;
        i{
            padding-right: 5px;
            font-size: 35px;
            color: #666;
        }
        span{
            font-size: 18px;
            vertical-align: 6px;
        }
    }
}
.m-sale{
    padding: 35px 0;
    .ser-item{
        i{
            display: block;
            float: left;
            padding-right: 10px;
            font-size: 45px;
            color: #666;
        }

    }
    .sale-zc{
        display: block;
        padding-top: 5px;
        span{
            display: block;
            line-height: 1.5;
            font-size: 14px;
        }
        .zc-span1{

        }
        .zc-span2{
            font-size: 20px;
        }
    }
    p{
        line-height: 67px;
        font-size: 18px;
        .ser-line{
            padding: 0 10px;
        }
    }
}
/* 版权信息 */
.m-copyright{
    text-align: center;
    padding: 20px 0;
    .link-help{
        float: right;
        a{
            padding: 0 8px;
            color: #999;
            font-size: 14px;
        }
    }
    .copyright{
        float: left;
        color: #999;
    }
}
