/*------------------------------------------------
@Filename:  media.less
@Description:   响应式
@Version:   1.0.0(2016-07-15)
@author:    LJL
@updatatime:
------------------------------------------------*/
@media (max-width: 992px) {
    .m-service .ser-item{
        line-height: 80px;
    }
}
@media (max-width: 768px){
    .m-copyright .link-help {
        text-align: right;
    }
}
